Repository UCL-MIRSG/.github, pull requests merged in 2024-04, with the labels that each got.

#103 Inherit from ARC Renovate config
  renovate/default-config.json
Labels: enhancement, renovate

#104 Add `markdownlint`
  precommit/mirsg-hooks.yaml
Labels: enhancement

#106 Refresh issue templates based on UCL-MIRSG/MIRSG#186
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/incident.md
  .github/ISSUE_TEMPLATE/problem.md
  .github/ISSUE_TEMPLATE/problem.yaml
  .github/ISSUE_TEMPLATE/project-record.md
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/request.yml
  .github/ISSUE_TEMPLATE/story.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/work.yaml
Labels: documentation

#108 Remove duplicate `fix` flag
  precommit/mirsg-hooks.yaml
Labels: pre-commit

#112 Renovate README JSON5 instruction
  .github/ISSUE_TEMPLATE/problem.yaml
  .github/ISSUE_TEMPLATE/question.yaml
  .github/ISSUE_TEMPLATE/work.yaml
  .github/workflows/tags.yml
  .pre-commit-config.yaml
  actions/add-to-project/README.md
  precommit/README.md
  precommit/mirsg-hooks.yaml
  profile/README.md
  renovate/README.md
Labels: enhancement, renovate
