Repository UCL-MIRSG/.github, pull requests merged in 2025-04, with the labels that each got.

#172 Allow @UCL-MIRSG/mirsg to skip status checks
  safe-settings/suborgs/rulesets.yaml
Labels: enhancement, safe-settings

#174 Set large file limit to 2MB
  precommit/mirsg-hooks.yaml
Labels: enhancement, pre-commit

#173 Change squash merge commit message
  safe-settings/organisation.yaml
Labels: safe-settings

#175 genfi2-data-correction is archived
  safe-settings/deployment.yaml
Labels: safe-settings
